.footer-img{
    width: 450px;
    height: 500px;
    float: left;
    margin-left: 0px;
}
ul{
    list-style: none;
    margin-top: 0px;
    
}
.footer-container{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    height: 500px;
}

.infos{
    margin-left: 20%;
}
h2{
    font-size:xx-large;
    margin-bottom: 60px;
}
h4{
    margin-bottom: 5px;
    font-size: large; 
    font-family:cursive;
    font-weight:lighter;
}